.catalog-items-mobile {
  display: block;
}

.catalog-items-desktop {
  display: none;
}

@media (min-width: 768px) {
  .catalog-items-mobile {
    display: none !important;
  }

  .catalog-items-desktop {
    display: block !important;
  }
}

